---
import Layout from "../layouts/Layout.astro";
import Column from "../components/TZColumn.astro";
---

<Layout>
    <h1>Time</h1>

    <button id="button">Add Time Zone</button>

    <div id="time"></div>

    <div class="column bg-gray-300 p-6 text-center rounded font-bold min-w-80">
        <form class="form">
            <input
                type="datetime-local"
                name="time"
                size="30"
                step="1"
                class="timeForm bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            />

            <input
                name="timezone"
                placeholder="Time zone"
                size="30"
                list="timezones"
                class="timezoneForm bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            />
            <datalist id="timezones">
                {
                    Intl.supportedValuesOf("timeZone").map((tz) => (
                        <option value={tz} />
                    ))
                }
            </datalist>

            <button
                type="submit"
                class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700"
                >Set Time!</button
            >
        </form>
    </div>

    <div id="columns" class="grid grid-cols-4 gap-4"></div>

    <script>
        let columns = 0;

        let time = new Date();

        function addTimeZone() {
            columns++;
            const columnsDiv = document.getElementById("columns");
            const newColumn = document.createElement("div");
            newColumn.className = "column";
            newColumn.innerHTML = `<div class="column bg-gray-300 p-6 text-center rounded font-bold min-w-80">
        <form class="form">
            <input
                type="datetime-local"
                name="time"
                size="30"
                step="1"
                class="timeForm bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            />

            <input
                name="timezone"
                placeholder="Time zone"
                size="30"
                list="timezones"
                class="timezoneForm bg-gray-200 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            />
            <datalist id="timezones">
                {
                    Intl.supportedValuesOf("timeZone").map((tz) => (
                        <option value={tz} />
                    ))
                }
            </datalist>

            <button
                type="submit"
                class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700"
                >Set Time!</button
            >
        </form>
    </div>`;
            columnsDiv?.appendChild(newColumn);
            if (columnsDiv) columnsDiv.style.columns = `${columns}`;
        }

        const addButton = document.getElementById("button");
        if (addButton) addButton.addEventListener("click", addTimeZone);

        const form = document.querySelectorAll(".form");

        time = new Date();

        form.forEach((f) => {
            f.addEventListener("submit", (event) => {
                event.preventDefault();
                const inputTime = f.querySelector(".timeForm").value;
                const timezone = f.querySelector(".timezoneForm").value;

                if (!timezone || !inputTime) {
                    alert("Please enter a time and a timezone.");
                    return;
                }

                // alert(inputTime);
                console.log(`Inputed time: ${inputTime}`);
                console.log(`Inputed timezone: ${timezone}`);
                time = new Date(inputTime);
                console.log(`UTC time: ${time.toLocaleString()}`);

                // Update every single other column
                const colms = document.querySelectorAll(".column");
                colms.forEach((column) => {
                    const columnTime = column.querySelector(".timeForm");
                    if (columnTime) {
                        const tz = column.querySelector(".timezoneForm").value;
                        const convertedTime = new Date(time).toLocaleString(
                            "en-US",
                            { timeZone: tz }
                        );
                        columnTime.value = new Date(convertedTime)
                            .toISOString()
                            .slice(0, 19);
                    }
                });
            });
        });

        // Update div ids with their timezone

        setInterval(() => {
            const timeElement = document.getElementById("time");
            if (timeElement) {
                timeElement.innerHTML = time.toLocaleString();
            }
        }, 50);
    </script>
</Layout>
